# Copyright (c) 2017 Benoit 'BoD' Lubek (BoD@JRAF.org)
#
# This file is part of Poet Assistant.
#
# Poet Assistant is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Poet Assistant is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Poet Assistant.  If not, see <http://www.gnu.org/licenses/>.

language: android
jdk: oraclejdk8

before_cache:
  # Do not cache a few Gradle files/directories (see https://docs.travis-ci.com/user/languages/java/#Caching)
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    # Android SDK
    - $HOME/android-sdk-dl
    - $HOME/android-sdk

    # Gradle dependencies
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

    # Android build cache (see http://tools.android.com/tech-docs/build-cache)
    - $HOME/.android/build-cache

install:
  # Download and unzip the Android SDK tools (if not already there thanks to the cache mechanism)
  - if test ! -e $HOME/android-sdk-dl/tools_r25.2.5-linux.zip ; then curl https://dl.google.com/android/repository/tools_r25.2.5-linux.zip > $HOME/android-sdk-dl/tools_r25.2.5-linux.zip ; fi
  - unzip -n $HOME/android-sdk-dl/tools_r25.2.5-linux.zip -d $HOME/android-sdk

  # Install or update Android SDK components (will not do anything if already up to date thanks to the cache mechanism)
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'tools'
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'platform-tools'
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'build-tools;25.0.2'
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'platforms;android-25'
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'extras;android;m2repository'
  - echo y | $HOME/android-sdk/tools/bin/sdkmanager 'system-images;android-24;default;arm64-v8a'

env:
  - ANDROID_HOME=$HOME/android-sdk PATH=$ANDROID_HOME/platform-tools:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$PATH

before_script:
  - mkdir -p $HOME/.android/avd
  - echo no | $ANDROID_HOME/tools/bin/avdmanager -v create avd --force -n test -g default --abi arm64-v8a --package 'system-images;android-24;default;arm64-v8a' -p $HOME/.android/avd
  - $ANDROID_HOME/tools/emulator -avd test -skin 280x380 -no-audio -no-window &
  - android-wait-for-emulator
script:
  - ./gradlew -Dorg.gradle.parallel=true -Dorg.gradle.daemon=false lintDebug testDebug
  - ./gradlew -Dorg.gradle.parallel=true -Dorg.gradle.daemon=false connectedAndroidTest
