<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016-2017 Carmen Alvarez
  ~
  ~ This file is part of Poet Assistant.
  ~
  ~ Poet Assistant is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Poet Assistant is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Poet Assistant.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="com.android.settings.TTS_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.WEB_SEARCH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".PoetAssistantApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/AppTheme">
        <!--
            Set windowSoftInputMode=adjustPan.
            Without this, we have this problem:
            - Have a long poem already entered.
            - Launch the app.
            - Swipe to the composer tab.
            - Scroll to the end of the poem.
            - Open the keyboard at the end.
            - Type a few lines.
            The lines are entered, but the keyboard is still covering them.
            You'd have to swipe the view to scroll it up, to reveal the new lines.
        -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep links -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rhymer"
                    android:scheme="poetassistant" />
                <data
                    android:host="thesaurus"
                    android:scheme="poetassistant" />
                <data
                    android:host="dictionary"
                    android:scheme="poetassistant" />
                <data
                    android:host="query"
                    android:scheme="poetassistant" />
            </intent-filter>

            <!-- Searches performed with the search widget -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- We will play plain text in the reader tab -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".main.dictionaries.search.RhymerRouterActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/tab_rhymer"
            android:exported="true">
            <intent-filter android:icon="@drawable/ic_rhymer" android:label="@string/tab_rhymer">
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!--
                Add this intent-filter as a workaround to make the PROCESS_TEXT
                intent-filter work in Google apps (ex: chrome, keep, ...).
                https://stackoverflow.com/a/72930519/1204440
                Note: we only need to add it to one of the three activities, and
                this will make PROCESS_TEXT work in all three.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".main.dictionaries.search.ThesaurusRouterActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/tab_thesaurus"
            android:exported="true">
            <intent-filter android:icon="@drawable/ic_thesaurus" android:label="@string/tab_thesaurus">
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".main.dictionaries.search.DictionaryRouterActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/tab_dictionary"
            android:exported="true">
            <intent-filter android:icon="@drawable/ic_dictionary" android:label="@string/tab_dictionary">
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main.MainActivity"
            tools:ignore="UnusedAttribute">
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.poetassistant.main.MainActivity" />
        </activity>
        <activity
            android:name=".about.LicenseActivity"
            android:label="@string/license_title"
            android:parentActivityName=".about.AboutActivity"
            tools:ignore="UnusedAttribute">
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.poetassistant.about.AboutActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.MainActivity"
            tools:ignore="UnusedAttribute">
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.poetassistant.main.MainActivity" />
        </activity>

        <service
            android:name=".wotd.WotdJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name=".wotd.WotdBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action_wotd" />
            </intent-filter>
        </receiver>

        <provider
            android:exported="false"
            android:name="ca.rmen.android.poetassistant.main.dictionaries.search.SuggestionsProvider"
            android:authorities="${applicationId}.SuggestionsProvider"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
